.content {
    background-color: var(--ion-color-primary);
}

.avatar {
    display       : flex;
    flex-direction: row;
    align-items   : flex-end;

    &__input {
        &--hidden {
            display: none;
        }
    }

    &__small {
        color: var(--ion-color-medium-light);
    }
}

ion-avatar {
    cursor: pointer;
}