<ion-item [formGroup]="form">
  <ion-label position="floating">
    {{label}}:
  </ion-label>

  <ion-input [type]="type" [formControlName]="controlName"></ion-input>

  <div *ngIf="validator.hasErrorValidar(control, 'required')" class="alert alert-danger">
    {{label}} is required.
  </div>

  <div *ngIf="validator.hasErrorValidar(control, 'pattern')" class="alert alert-danger">
    {{label}} it's not adjusted to the format.
  </div>

  <div *ngIf="validator.hasErrorValidar(control, 'minlength')" class="alert alert-danger">
    {{label}} must be at least {{validator.lengthError(control, 'minlength')}} characters long.
  </div>
</ion-item>