<ion-card>
  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>{{user.name}}</ion-label>
    </ion-chip>

    <ion-button color="primary" fill="outline" slot="end">View</ion-button>
    <ion-button fill="solid" slot="end" (click)="delete()">Delete</ion-button>
  </ion-item>

  <ion-card-content>
    {{user.email}}
    <br>
    {{user.secondemail}}
    <br>
    {{user.role}} - {{user.department}}
    <br>
    <small>
      {{user.added | date: 'short'}}
    </small>
  </ion-card-content>
</ion-card>