div.content {
    padding   : 5vh 20vw;
    background: url('../../assets/img/bg.jpg');
    background-repeat: repeat-y repeat-x;
}

ion-header{
    color: black;
}

.toolbar{
    --background: yellow;
}