<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>
      Usuários
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <a href="https://www.linkedin.com/in/ramar-nunes-faleiro-dos-santos-18243745/" title="link to my linkedin"
          target="_blank">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </ion-fab-button>
      <ion-fab-button>
        <a href="https://github.com/rammaR?tab=repositories" title="link to my github" target="_blank">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="content">
    <ion-button (click)="add()">Adicionar Usuário</ion-button>
    <ion-searchbar [(ngModel)]="filter" showCancelButton="focus" debounce="500" (ionChange)="search()"></ion-searchbar>
    <app-user-card *ngFor="let u of getListFiltered()" [user]="u" (onDelete)="delete($event)" (onView)="view($event)">
    </app-user-card>
  </div>
</ion-content>